/* ================= NAVBAR ================= */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 5%;
    z-index: 999;

    /* Blue hatao */
    background: transparent !important;
    box-shadow: none;
}

.navbar.scrolled {
    background: transparent !important;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
}

.navbar.scrolled {
    background: rgba(12, 35, 40, .90);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    height: 90px;
}

/* Logo */

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 100px;
    width: auto;
    transition: .4s;
}

.navbar.scrolled .logo {
    height: 80px;
}

.brand-name {
    color: #16ff6d;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
}

.brand-name small {
    color: #2d7cff;
    font-size: 12px;
    letter-spacing: 5px;
}

/* Menu */

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
}

.nav-links a:hover {
    color: #16ff6d;
}

.nav-links button {
    background: transparent;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    padding: 0;
}

.nav-links button:hover {
    color: #20ff6b;
}

.nav-links button {
    background: transparent;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    padding: 0;
}

.nav-links button:hover {
    color: #20ff6b;
}